<mat-table #table [dataSource]="dataSource" matSort>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
    <mat-cell *matCellDef="let item" class="name-column-item">
      <div>
          <span class="icon-container">
             <mat-icon>insert_drive_file</mat-icon>
          </span>
        <span class="name-column-item-name" >{{item.name}}</span>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Modified Column -->
  <ng-container matColumnDef="provider">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Provider</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.provider}}</mat-cell>
  </ng-container>

  <!-- Tags Column -->
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Tags</mat-header-cell>
    <mat-cell *matCellDef="let item" class="tag-cell-container">
      <mat-chip-list *ngFor="let tag of item.tags">
        <mat-chip>{{tag}}</mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
