.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-header-row, .mat-row {
  min-height: 54px;
}

.add-tag-btn {
  margin-left: 20px;
  width: 34px;
  height: 34px;
  .mat-icon{
    height: 22px;
    width: 22px;
    font-size: 18px;
  }
}

.mat-cell:last-child, .mat-header-cell:last-child {
  flex: 0 0 40%;
}

.name-column-item{
  position: relative;
  .name-column-item-name{
    margin-left: 30px;
  }
}
.active-folder-link{
  cursor: pointer;
}
.icon-container{
  position: absolute;
  top: 5px;
  .mat-icon{
    color: #673ab7;
  }
}


.mat-cell {
  line-height: 42px;
}
