/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/normalize";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/tagged-web-theme";


body {
  font-family: 'Roboto', sans-serif;
}

.mat-chip-list-wrapper {
  display: inline-block !important;
}

.available-services{
  .mat-list{
    padding:0;
  }
  .mat-list-item-content{
    padding: 0px 0px !important;
  }
}