<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </button>
    <button mat-menu-item
            (click)=onLogout()>
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
    </button>
</mat-menu>
