<div *ngIf="!folderIsEmpty;else empty_folder_content">
  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let item" class="name-column-item">
        <div *ngIf="item.folder; else file">
          <span class="icon-container">
             <mat-icon>folder_open</mat-icon>
          </span>
          <div class="name-column-item-name active-folder-link"
             (click)=onLinkClick(item)>
            {{item.name}}
          </div>
        </div>
        <ng-template #file>
          <span class="icon-container">
             <mat-icon>insert_drive_file</mat-icon>
          </span>
          <span class="name-column-item-name" >{{item.name}}</span>
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Modified Column -->
    <ng-container matColumnDef="modified">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Modified</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.modified | date}}</mat-cell>
    </ng-container>

    <!-- Tags Column -->
    <ng-container matColumnDef="tags">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tags</mat-header-cell>
      <mat-cell *matCellDef="let item" class="tag-cell-container">
        <mat-chip-list *ngFor="let tag of item.tags">
          <mat-chip>{{tag}}</mat-chip>
        </mat-chip-list>

        <button mat-mini-fab color="accent" class="add-tag-btn" (click)="openTagDialog(item)">
          <mat-icon aria-label="add tag">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<ng-template #empty_folder_content>This folder is empty</ng-template>
