<h4 mat-dialog-title>Enter new tags here</h4>
<div mat-dialog-content>

  <mat-form-field class="tags-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of data.tags"
                [selectable]="selectable"
                [removable]="removable"
                (remove)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="New tag..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-list>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
