@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$tagged-web-primary: mat-palette($mat-indigo);
$tagged-web-accent:  mat-palette($mat-deep-purple);

// The warn palette is optional (defaults to red).
$tagged-web-warn:    mat-palette($mat-purple);

// Create the theme object (a Sass map containing all of the palettes).
$tagged-web-theme: mat-light-theme($tagged-web-primary, $tagged-web-accent, $tagged-web-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tagged-web-theme);