<nav class="mat-elevation-z4">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="toggle-container">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            <span class="spacer"></span>
            <mat-icon (click)="openSearchBar(searchActivated)">search</mat-icon>
            <app-search-bar
                    *ngIf="searchActivated"
                    [@flyInOut]
                    (closeSearchComponent)="closeSearchBar($event)"></app-search-bar>
            <app-preferences></app-preferences>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>

<main ngxLoadingMask>
    <mat-sidenav-container>
        <mat-sidenav
                class="mat-elevation-z4"
                #sidenav
                [fixedInViewport]="true"
                [fixedTopGap]="55"
                mode="side"
                [opened]="true">
            <div class="sidebar-links">
                <mat-nav-list *ngFor="let token of tokens">
                    <a mat-list-item [routerLink]="token.link"
                       routerLinkActive="token.isActive"
                       (click)=onLinkClick(token)>
                        <span class="dropbox-icon"></span>
                        {{token.name}}
                    </a>
                </mat-nav-list>
            </div>
            <div class="available-services">
                <mat-list *ngFor="let service of availableServices"
                          [ngStyle]="{'display': showList? 'block' : 'none' }">
                    <mat-list-item>
                        <button mat-raised-button color="warn" (click)="gotoServiceUrl(service.url)">{{service.name}}</button>
                    </mat-list-item>
                </mat-list>
                <button id="addService" mat-raised-button color="accent" (click)="showServices(showList)">
                    <mat-icon>{{showList? 'remove' : 'add'}}</mat-icon>
                    Manage Services
                </button>
            </div>

        </mat-sidenav>
        <mat-sidenav-content class="side-nav-content">
            <mat-card *ngIf="!tokensExist" class="no-services-info">
                <mat-card-content>
                    <p><b>INFO: </b>Use add service button to configure service providers</p>
                </mat-card-content>
            </mat-card>
            <div class="breadcrumbs-container">
                <span class="folder_breadcrumbs" *ngFor="let crumb of breadcrumbs">
                <button mat-button
                        class="breadcrumb-btn"
                        [disabled]="crumb.disabled"
                        (click)=onBreadCrumbClick(crumb)>
                    {{crumb.name}}
                </button>
                <span>/</span>
            </span>
            </div>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</main>
